<div class="card">
    <div class="card-header">
        會員資料
        <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            
            <div aria-label="Second group" class="btn-group" role="group">
                
                <button class="btn btn-primary btn-sm" type="button"  routerLink="/memberinsert" routerLinkActive="active" >新增會員</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>名字</th>
                    <th>註冊日</th>
                    <th>通路</th>
                    <th>操作</th>
                    <th>備註</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of memberssub">
                  <td>{{member.id}}</td>
                  <td>{{member.name}}</td>
                  <td>
                      {{member.createDate.substring(0,10)}}
                  </td>
                  <td>
                      {{member.channelId}}
                  </td>
                  <td>
                    <button class="btn btn-outline-success btn-sm" type="button"  (click)="gotoDetail(member.id)" >資訊</button>
                    <button class="btn btn-outline-info btn-sm" type="button" (click)="goUpdate(member.id)">修改</button>
                  </td> 
                  <td>{{member.remark}}</td>
                </tr>
                
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li *ngFor="let count of temp; let i=index;" class="page-item" (click)="onSelect(i+1)">
                    <a class="page-link">{{i+1}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>