<table class="table table-sm" *ngIf="member">
  <thead>
    <tr>
      <th>會員個人資料</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td colspan="3">{{member.id}}</td>
    </tr>
    <tr>
      <th scope="row">姓名</th>
      <td>{{member.name}}</td>
      <th>通路</th>
      <td *ngIf="channel">{{channel.channelName}}</td>
    </tr>
 
    <tr>
      <th scope="row" >手續費</th>
      <td *ngIf="member.fee">{{member.fee}}%</td>
      <td *ngIf="channel&&!member.fee">{{channel.fee}}%</td>
      <th>手機</th>
      <td>{{member.mobileNO}}</td>
    </tr>
  
    <tr>
      <th scope="row">Email</th>
      <td colspan="3">{{member.email}}</td>
    </tr>
   <tr>
      <th>網站</th>
      <td colspan="3">{{member.webSite}}</td>
    </tr>
    <tr>
      <th scope="row">地址</th>
      <td colspan="3">{{member.address}}</td>
    </tr>
    <tr>
      <th scope="row">帳號</th>
      <td colspan="3">{{member.accountNo.substring(0,4)}}-{{member.accountNo.substring(4,8)}}-{{member.accountNo.substring(8,12)}}-{{member.accountNo.substring(12,member.accountNo.length)}}</td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td colspan="2">
         <tr>
          <th class="font-sm">建立時間</th>
          <td class="font-sm">
            {{member.createDate.getFullYear()}}-{{member.createDate.getMonth()+1}}-{{member.createDate.getDate()}} {{member.createDate.getHours()}}:{{member.createDate.getMinutes()}}:{{member.createDate.getSeconds()}}      
          </td>
          <th class="font-sm" scope="row">建立者</th>
          <td *ngIf="user" class="font-sm">{{user.name}}</td>      
        </tr>
        <tr>
          <th scope="row" class="font-sm">最後修改時間</th>
          <td class="font-sm" >
            <div *ngIf="member.lastUpdate" >
            {{member.lastUpdate.getFullYear()}}-{{member.lastUpdate.getMonth()+1}}-{{member.lastUpdate.getDate()}} {{member.lastUpdate.getHours()}}:{{member.lastUpdate.getMinutes()}}:{{member.lastUpdate.getSeconds()}}      
            </div>
          </td>
          <th class="font-sm">修改者</th>
          <td *ngIf="updateUser" class="font-sm">{{updateUser.name}}</td>
        </tr>
      </td>
    </tr>
  </tbody>
</table>
 <button class="btn btn-info" (click)="goUpdate(member.id)">修改</button>
 <button class="btn btn-secondary" (click)="goBack()">Back</button>