<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> 會員資料
        <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            
            <div aria-label="Second group" class="btn-group" role="group">
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <button class="btn btn-primary btn-sm" type="button"><i class="icon-user"></i>新增會員</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>名字</th>
                    <th>註冊日</th>
                    <th>等級</th>
                    <th>狀態</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of memberssub">
                  <td>{{member.id+9}}</td>
                  <td>{{member.name}}</td>
                  <td>
                      {{member.installdate.substring(0,10)}}
                    <!--{{member.installdate.getFullYear()}}/
                    {{member.installdate.getMonth()+1}}/
                    {{member.installdate.getDate()}}-->
                  </td>
                  <td>{{member.status}}</td>
                  <td>
                    <button class="btn btn-outline-success btn-sm" type="button">資訊</button>
                    <button class="btn btn-outline-info btn-sm" type="button">修改</button>
                    <button class="btn btn-outline-danger btn-sm" type="button">停權</button>
                  </td> 
                </tr>
                
            </tbody>
        </table>
        <nav>
            <!--{{memid}}
            {{memidroute}}-->
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li *ngFor="let count of temp; let i=index;" class="page-item" (click)="onSelect(i+1)">
                    <a class="page-link" routerLink="/member/{{i+1}}" routerLinkActive="active" >{{i+1}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>