

<table class="table table-sm" *ngIf="member">
  <thead>
    <tr>
      <th>會員個人資料</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td colspan="3">{{member.id}}</td>
    </tr>
    <tr>
      <th scope="row">姓名</th>
      <td><input [(ngModel)]="member.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" value="{{member.name}}"></td>
      <th>通路</th>
      <td *ngIf="channel">{{channel.channelname}}</td>
    </tr>
 
    <tr>
      <th scope="row" >手續費</th>
      <td *ngIf="member.fee">{{member.fee}}%</td>
      <td *ngIf="channel&&!member.fee">{{channel.fee}}%</td>
      <th>手機</th>
      <td><input [(ngModel)]="member.mobileNO" [ngModelOptions]="{standalone: true}" type="tel" class="form-control" id="phonenumber1" value="{{member.mobileNO}}"></td>
    </tr>
  
    <tr>
      <th scope="row">Email</th>
      <td colspan="3"><input [(ngModel)]="member.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="email1" value="{{member.email}}"></td>
    </tr>
   <tr>
      <th>網站</th>
      <td colspan="3"> <input [(ngModel)]="member.webSite" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="email1" value="{{member.webSite}}"></td>
    </tr>
    <tr>
      <th scope="row">地址</th>
      <td colspan="3"><input [(ngModel)]="member.address" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="email1" value="{{member.address}}"></td>
    </tr>
    <tr>
      <th scope="row">帳號</th>
      <td colspan="3"><input [(ngModel)]="member.accountNo" [ngModelOptions]="{standalone: true}" type="text" class="form-control" value="{{member.accountNo}}">
      </td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td colspan="2">
         <tr>
          <th class="font-sm">建立時間</th>
          <td class="font-sm">{{member.createDate.substring(0,10)}}</td>
          <th class="font-sm" scope="row">建立者</th>
          <td class="font-sm">{{member.createUser}}</td>      
        </tr>
        <tr>
          <th scope="row" class="font-sm">最後修改時間</th>
          <td class="font-sm">{{member.lastUpdate}}</td>
          <th class="font-sm">修改者</th>
          <td class="font-sm">{{member.updateUser}}</td>
        </tr>
      </td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-1">
    <button type="submit" class="btn btn-primary" (click)="update()">修改</button>
  </div>
  <div class="col-1">
    <button class="btn btn-secondary" (click)="goBack()">Back</button>
  </div>
</div>