


<table class="table table-sm">
  <thead>
    <tr>
      <th>會員個人資料</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td colspan="3"><input [(ngModel)]="member.id" [ngModelOptions]="{standalone: true}" type="text" class="form-control"></td>
    </tr>
    <tr>
      <th scope="row">姓名</th>
      <td><input [(ngModel)]="member.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control"></td>
      <th>通路</th>
      <td *ngIf="channel">{{channel.channelname}}</td>
    </tr>
 
    <tr>
      <th scope="row" >手續費</th>
      <td><input [(ngModel)]="member.fee" [ngModelOptions]="{standalone: true}" type="text" class="form-control input-s" ><span>%</span></td>
      <th>手機</th>
      <td><input [(ngModel)]="member.mobileNO" [ngModelOptions]="{standalone: true}" type="tel" class="form-control" id="phonenumber1"></td>
    </tr>
  
    <tr>
      <th scope="row">Email</th>
      <td colspan="3"><input [(ngModel)]="member.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control " id="email1" ></td>
    </tr>
    <tr>
      <th>網站</th>
      <td colspan="3"> <input [(ngModel)]="member.webSite" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="email1"></td>
    </tr>
    <tr>
      <th scope="row">地址</th>
      <td colspan="3"><input [(ngModel)]="member.address" [ngModelOptions]="{standalone: true}" type="text" class="form-control " id="email1" ></td>
    </tr>
    <tr>
      <th scope="row">帳號</th>
      <td colspan="3"><input [(ngModel)]="member.accountNo" [ngModelOptions]="{standalone: true}" type="text" class="form-control " >
      </td>
    </tr>
  
</table>
<div class="row">
  <div class="col-1">
    <button type="submit" class="btn btn-primary" >新增</button>
  </div>
  <div class="col-1">
    <button class="btn btn-secondary" (click)="goBack()">Back</button>
  </div>
</div>
