    
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" routerLink="/member" routerLinkActive="active">會員管理 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/transaction" routerLinkActive="active">交易查詢</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/googlechart" routerLinkActive="active">報表</a>
            </li>
          </ul>
