<table class="table table-sm" *ngIf="transaction">
  <thead>
    <tr>
      <th>交易資料</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td >{{transaction.id}}</td>
      <th>會員</th>
      <td>{{transaction.memberid}}</td>
    </tr>
    <tr>
      <th scope="row">交易時間</th>
      <td>{{transaction.transactionDate.substring(0,10)}} {{transaction.transactionDate.substring(11,19)}}</td> 
      <th>入帳時間</th>
      <td>{{transaction.postingDate.substring(0,10)}} {{transaction.postingDate.substring(11,19)}}</td> 
    </tr>
    <tr>
      <th>通路</th>
      <td *ngIf="channel">{{channel.channelname}}</td>
      <th>手續費</th>
      <td *ngIf="channel">{{channel.fee}}%</td>
    </tr>
    <tr>
      <th>買家姓名</th>
      <td >{{transaction.buyerName}}</td>
      <th>買家帳號</th>
      <td>{{transaction.buyerAccountNo}}</td>
    </tr>
    <tr>
      <th >商品名</th>
      <td>{{transaction.productName}}</td>
      <th >金額</th>
      <td>{{transaction.money}}元</td>     
    </tr>
 
 
  </tbody>
</table>
 <button class="btn btn-secondary" (click)="goBack()">Back</button>