<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> 查詢結果
        <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            
            <div aria-label="Second group" class="btn-group" role="group">
               
                <button class="btn btn-primary btn-sm" type="button">友善列印</button>
            </div>
        </div>
    </div>            

    <div class="card-block">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>姓名</th>
                    <th>等級</th>
                    <th>類型</th>
                    <th>金額</th>
                    <th>備註</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transactionData of transactionDatas;let i = index" (click)="gotoDetail(transactionData.id)">
                <td>
                    {{transactionData.date.substring(0,10)}}
                </td>
                <td>{{transactionData.memberid}}</td>
                <td>{{transactionData.channelid}}</td>
                <td>{{transactionData.status}}</td>
                <td>{{transactionData.money}}</td>
                <td>{{transactionData.remark}}</td>
                </tr>
                
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" routerLink="/transaction" routerLinkActive="active">Prev</a></li>
                <li class="page-item"><a class="page-link" routerLink="/transaction" routerLinkActive="active">1</a></li>
                <li class="page-item"><a class="page-link" routerLink="/transaction" routerLinkActive="active">Next</a></li>
            </ul>
        </nav>
    </div>
</div>    