<div class="container">
    <div class="row">
        <div class="col-4"> </div>
        <div class="col-4">
            <form class="form-signin">
                <label for="inputEmail" >帳號</label>
                <input [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}" type="email" id="inputEmail" class="form-control" required autofocus>
                <label for="inputPassword" >密碼</label>
                <input [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" type="password" id="inputPassword" class="form-control"  required>
                <div class="row mt">
                    <div class="col-3"> 
                        <button class="btn btn-primary btn-block" type="submit" (click)="login(user)">登入</button>
                    </div>

                    <div class="col-3"> 
                        <button class="btn btn-secondary" (click)="goBack()">Back</button>
                    </div>
                    <div class="col-3"> 
                        <button class="btn btn-secondary" (click)="test()" type="button">test</button>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="col-4"> 
            <p *ngIf="data">{{data}}</p>
        </div>
    </div>
</div>
