<table class="table table-sm" *ngIf="channel">
  <thead>
    <tr>
      <th>通路資料</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">ID</th>
      <td >{{channel.id}}</td>
      <th scope="row">種類</th>
      <td><input [(ngModel)]="channel.description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" value="{{channel.description}}"></td>
    </tr>
    <tr>
      <th>名稱</th>
      <td><input [(ngModel)]="channel.channelName" [ngModelOptions]="{standalone: true}" type="text" class="form-control" value="{{channel.channelname}}"></td>
      <th>手續費</th>
      <td ><input [(ngModel)]="channel.fee" [ngModelOptions]="{standalone: true}" type="text" class="form-control" value="{{channel.fee}}"></td>
    </tr>
 
    <tr>
      <th></th>
      <td></td>
      <td colspan="2">
         <tr>
          <th class="font-sm"  scope="row">建立時間</th>
          <td class="font-sm">
            {{channel.createDate.getFullYear()}}-{{channel.createDate.getMonth()+1}}-{{channel.createDate.getDate()}} {{channel.createDate.getHours()}}:{{channel.createDate.getMinutes()}}:{{channel.createDate.getSeconds()}}
          </td>
          <th class="font-sm">建立者</th>
          <td *ngIf="user" class="font-sm">{{user.name}}</td> 
        </tr>
      </td>
    </tr>
  </tbody>
</table>
 <button class="btn btn-primary" (click)="update(channel.id)">修改</button>
 <button class="btn btn-secondary" (click)="goBack()">Back</button>