
<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> 通路所屬的會員
        <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            
            <div aria-label="Second group" class="btn-group" role="group">
                
                <button class="btn btn-primary btn-sm" type="button"  routerLink="/memberinsert" routerLinkActive="active" ><i class="icon-user"></i>新增會員</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名稱</th>
                    <th>操作</th>
                    <th>備註</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of members">
                  <td>{{member.id}}</td>
                  <td>{{member.name}}</td>
                  <td>
                    <button class="btn btn-outline-success btn-sm" type="button"  (click)="gotoDetail(member.id)" >資訊</button>
                    <button class="btn btn-outline-danger btn-sm" type="button" (click)="delete(member)" >刪除</button>
                  </td> 
                  <td>
                       {{member.description}}
                  </td>
                </tr>
            </tbody>
        </table>
        <nav>
        </nav>
    </div>
</div>

<button class="btn btn-info" (click)="goBack()">Back</button>